nav {
	box-shadow: 0 2px 6px #ddd;
}
nav section {
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
}
nav section .container {}
nav section .container .row {}
nav section .container .row .column {}
nav section .container .row .column h1 {
	font: 1em 'Sarabun';
	font-weight: bold;
}
nav section .container .row .column .nav-item {}
nav section .container .row .column .nav-item .nav-link,
nav section .container .row .column .subnav-item .subnav-link {
	color: #888;
	font: 1em 'Sarabun';
	padding: 12px 15px;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
}
nav section .container .row .column .nav-item .nav-link:hover,
nav section .container .row .column .subnav-item .subnav-link:hover,
nav section .container .row .column .nav-item .nav-link.active,
nav section .container .row .column .subnav-item .subnav-link.active {
	color: #70a6dc;
	border-bottom: 2px solid #70a6dc;
}